.content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.pages {
  width: 100%;
}

.pages span {
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
}

.status {
  width: 10%;
  text-align: center;
  color: white;
  border-radius: 15px;
  border: 0;
  height: 30px;
  padding-top: 5px;
  margin-left: 10px;
}

.sensor-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sensor-container > div {
  width: 45%;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.value {
  font-size: 45px;
}

.sensor-container span {
  font-size: 18px;
  color: grey;
}

.update {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
  color: grey;
}
