.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 635px;
  max-width: 700px;
  margin-bottom: 3rem;
}

.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0;
  height: 35px;
  cursor: pointer;
}

.asset-container {
  width: 90%;
}

.asset-header {
  width: 90%;
  height: 35px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(200, 199, 198);
  font-weight: 600;
  border-right: 1px solid rgb(187, 186, 186);
  border-left: 1px solid rgb(187, 186, 186);
}

.asset-header div {
  width: 20%;
}

.asset-records {
  width: 90%;
  height: 35px;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  border: 1px solid rgb(187, 186, 186);
}

.asset-records div {
  width: 20%;
}

.status {
  text-align: center;
  color: white;
  border-radius: 15px;
  border: 0;
  height: 30px;
  padding-top: 5px;
}
