<div class="modal-backdrop">
  <div class="modal">
    <button class="close-btn" (click)="closeForm()">✕</button>
    <form (ngSubmit)="submitForm()" #assetForm="ngForm" class="form">
      <label>Name:</label>
      <input type="text" [(ngModel)]="asset.name" name="name" />

      <label>Type:</label>
      <input type="text" [(ngModel)]="asset.type" name="type" />

      <label>Status</label>
      <select [(ngModel)]="asset.status" name="status">
        <option value="" disabled selected>Select status</option>
        <option value="RUNNING">RUNNING</option>
        <option value="STOPPED">STOPPED</option>
        <option value="MAINTENANCE">MAINTENANCE</option>
      </select>

      <button
        type="submit"
        [disabled]="!assetForm.form.valid"
        class="add-button"
      >
        Add Asset
      </button>
    </form>
  </div>
</div>
